.main{
    border: 2px solid rgb(105, 179, 199);
    box-shadow: 3px 3px 5px 3px;
    padding: 10px;
     width: 1100px;
     height: 600px;
    font-style: bold;
    font-family: sans-serif;
    text-align: center;
    background-color: white;
    margin-top: 50px;
    margin-left: 50px;
}

table{
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-style: double;
}

td, th{
    border: 1px solid #57b8d8;
    text-align: center;
    padding: 10px;
    width: 2px;
}

tr:nth-child(odd){
    /* background-color: #c0e3ee; */
    background-color: #dff9fd;
    /* background-color: rgb(222, 251, 255); */
}
u{
    font-style: italic;
}



   